/* section.hire{
	opacity: 0;
	height: 100vh;

	background: url("../images/illustrations/anlita_bg.svg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;

	animation: fadeIn 1000ms ease-in-out forwards;
} */
section.hero.hire{
	height: auto;
	min-height: 70vh;
	padding: 5rem 0;
}
section.hire .content{
	margin-top: 0;
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}
section.hire .content .copy{
	width: 700px;
	max-width: 100%;
	text-align: center;

	font-size: 1.05rem;
}

section.hire .hire-form{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	margin-top: 20px;
	text-align: left;
	margin: 3rem auto;
	font-size: 1.2rem;

	opacity: 0;
	animation: fadeIn 200ms ease-in-out forwards;

	max-width: 600px;
	width: 100%;
}

section.hire .disclaimer{
	font-weight: 300;
	margin-top: 2rem;
	margin-bottom: 150px;
}


section.hire .content .button{
	text-align: center;
	padding: 1rem;
}
section.hire .back-arrow{
	transform: rotate(180deg);
	z-index: -1;
	margin-right: 10px;
}
section.hire .back-arrow path{
	fill: var(--primary);
}

@media only screen and (max-width: 1000px){
	section.hire .content{
		padding-top: 4rem;
	}

	section.hire .content .copy{
		margin-top: 2rem;
	}

	section.hire .disclaimer{
		display: none;
	}

	section.hire .hire-form{
		flex-direction: column;
	}
	section.hire .hire-form .button{
		margin-top: 1.4rem;
	}
}