section.hero.contact .content{
	display: block;
	text-align:center;
}
section.hero.contact .content .copy{
	width: 31rem;
	max-width: 100%;
	margin: auto;
}
section.hero.contact .content .copy h1{
	font-size: 3.8rem;
}
section.hero.contact .content .copy .buttons{
	margin-top: 7rem;
	display: flex;
	justify-content: space-around;
}
section.hero.contact .content .copy .buttons .call{
	display: none;
}

section.hero.contact .content .info{
	display: flex;
	flex-direction: column;
	margin: 5rem auto 0;

	width: 31rem;
	max-width: 100%;
}
section.hero.contact .content .info a{
	font-size: 2rem;
	text-decoration: none;
	color: var(--primary);
	font-weight: bold;
	margin: .5rem 0;
}

@media only screen and (max-width: 600px){
	section.hero.contact .content .copy h1{
		font-size: 3rem;
	}

	section.hero.contact .content .copy .buttons{
		flex-direction: column;
	}
	section.hero.contact .content .copy .buttons a{
		margin: .4rem 0;
	}
	section.hero.contact .content .copy .buttons .call{
		display: block;
	}
}