@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Yrsa:400,700&display=swap');
:root{
	--textPrimary: #56535e;
	--textSecondary: #f7f7f2;
	--textAlt: #2b2d42;
	--primary: #c63d3d;
	--secondary: #e99029;
	--textAlt2: #232535;
	--shadow: rgba(86, 83, 94, 0.3);
	--lightShadow: rgba(93, 92, 97, 0.1);
	--lightBlue: #F2F9F9;
	--lightRed: #c73c3c50;

	--contentWidth: 1200px;
}

/* General */
html, body{
	margin: 0;
	padding: 0;
	color: var(--txt-prim-clr);

	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	min-height: 100vh;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-repeat: repeat;
}
a{
	font-family: "Raleway", sans-serif;
}
p {
	line-height: 1.3rem;
	margin-top: 7px;
}
h1,h2,h3,h4{
	font-family: "Roboto", sans-serif;
	margin:0;
}
h1{
	font-size: 2.8rem;
	color: var(--primary);
	margin-bottom: 0;
}
h2{
	font-size: 2rem;
	color: var(--sec-clr);
	margin-bottom: 0;
}
h3,h4{
	color: var(--txt-prim-clr);
}
p a{
	text-decoration: none;
}
p a:hover{
	text-decoration: underline;
}
.content{
	width: var(--contentWidth);
	margin: auto;
	padding: 5rem 0;
}
.ingress{
	margin-bottom: 4rem;
	margin-top: 10px;
	font-size: 1.4rem;
	font-weight: 500;
}

/* Main content */
main{
	min-height: 50vh;
}
main > section{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;

	box-sizing: border-box;
	width: 100%;

	overflow: hidden;
}
h2.underlined{
	line-height: 20px;
	text-transform: uppercase;
}
.underlined::after{
	display: inline-block;
	content: "";
	height: 1px;
	background: var(--txt-sec-clr);
	width: 150%;
}
.horizontal-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	gap: 1em;
}

/* Hero section */
section.hero{
	box-sizing: border-box;
	padding: 0 0 5rem;
	height: 92vh;
	position: relative;
}
section.hero .featured{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;

	background: var(--textSecondary);
	border: 1px solid var(--textAlt);
	padding: .5rem 2rem;

	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: .9rem;
	color: var(--textPrimary);
	text-decoration: none;
	border-radius: 20px;

	margin-bottom: 2rem;
	opacity: 0;

	transition: box-shadow 100ms ease-out;
	animation: fadeIn 500ms 1s ease-in forwards;
}
section.hero .featured:hover,
section.hero .featured:active,
section.hero .featured:focus{
	box-shadow: 0 3px 6px var(--shadow);
}
section.hero .featured .title{
	font-weight: 600;
	margin-left: .2rem;
	margin-right: auto;

	max-width: 275px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
section.hero .background{
	position: absolute;
	z-index: -1;
	bottom: 0;
	width: 100%;
}
section.hero .content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;

	height: 100%;
}
section.hero .content > a:first-child{
	margin-right: 1em;
}
section.hero .content > a:last-child{
	margin-left: 1em;
}
section.hero .content .copy{
	width: 30em;
	max-width: 100%;
}
section.hero .copy h1{
	font-size: 3em;
	margin-top: 0;
	animation: fadeIn 500ms ease-in-out;
}
section.hero .copy p{
	box-sizing: border-box;
	font-size: 1.1em;
	margin: 7px 0 5rem;

	animation: fadeIn 500ms ease-in-out;
}
section.hero .btns{
	display: flex;
	flex-wrap: wrap;

	animation: fadeIn 500ms ease-in-out;
}
section.hero .btns a:first-child{
	margin-right: 1em;
}
section.hero .btn{
	margin-bottom: 1em;
}
section.hero .illustration{
	width: 550px;
	max-width: 100%;
	text-align: right;
}

/* Features */
section.features {
	display: flex;
	flex-direction: column;

	background: #ffffff;
	box-shadow: 0 -4px 10px var(--shadow);
	border-top: 1px solid var(--primary);
	border-bottom: 1px solid var(--primary);
	min-height: 50vh;
}
section.features .copy.intro{
	box-sizing: border-box;
	max-width: calc(var(--contentWidth) / 1.5);
	width: 100%;
	padding: 0 .5rem;
	margin: 6rem auto 8rem;
	text-align: center;
}
section.features .copy.intro h1{
	color: var(--primary);
	margin-bottom: 0;
	font-size: 2.4rem;
}
section.features .copy.intro p{
	margin-top: 7px;
	font-size: 1.2rem;
	line-height: 1.5rem;
}
.row{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: var(--contentWidth);
	height: auto;
	max-width: 90%;
	margin: 10rem auto 2rem;
	opacity: 0;

	box-sizing: border-box;

	transition: opacity 400ms ease-out;
}
.row:last-child{
	margin-bottom: 10rem;
}
.row .copy{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	width: 500px;
	max-width: 100%;
	height: 100%;

	transition: transform 400ms ease;
}
.row .copy h2{
	color: var(--primary);
	margin: 0;
}
.row .copy p{
	margin-top: 7px;
}
.row .copy a{
	margin-top: 1rem;
}

/* About */
section.about{
	display: flex;
	flex-direction: column;
	background: var(--lightBlue);
	min-height: 50vh;
}

/* Workflow */
section.workflow{
	font-size: 1.2rem;
	background: #ffffff;
	border-top: 1px solid var(--primary);
	border-bottom: 1px solid var(--primary);
}
section.workflow h2{
	margin-top: 0;
}
section.workflow ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
section.workflow ol li{
	display: flex;
	flex-wrap: nowrap;
	margin: 80px 0;

	justify-content: flex-start;
	align-items: center;
}
section.workflow ol li .pos{
	font-size: 1.8rem;
	color: var(--textSecondary);

	padding: .7rem 1.3rem;
	border-radius: 50%;
	margin-right: 30px;
	background: var(--primary);
}
section.workflow ol li .next-arrow{
	position: absolute;
	margin: 3.5rem 0 0 -67px;
	/* margin: 7.4rem 0 0 1.2rem; */
}

/* Animate squares */
svg path[data-name="Rectangle 245"]{
	opacity: 0;
	animation: 
		begin 1s 0ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
svg path[data-name="Path 585"]{
	opacity: 0;
	animation: 
		begin 1s 50ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
svg path[data-name="Rectangle 248"]{
	opacity: 0;
	animation: 
		begin 1s 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

svg path[data-name="Rectangle 247"]{
	opacity: 0;
	animation: 
		begin 1s 150ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
svg path[data-name="Rectangle 246"]{
	opacity: 0;
	animation: 
		begin 1s 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
svg path[data-name="Path 586"]{
	opacity: 0;
	animation: 
		begin 1s 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

@keyframes begin{
	0%{
		transform: translateY(300px);
		opacity: 0;
	}
	100%{
		transform: translate(0, 0);
		opacity: 1;
	}
}

/* Animate lines */
svg path[data-name="Line 35"],
svg path[data-name="Path 584"],
svg path[data-name="Line 36"],
svg path[data-name="Path 583"],
svg path[data-name="Line 33"],
svg path[data-name="Line 34"],
svg path[data-name="Path 579"],
svg path[data-name="Path 582"],
svg path[data-name="Line 32"],
svg path[data-name="Line 31"],
svg path[data-name="Path 580"],
svg path[data-name="Line 28"],
svg path[data-name="Line 27"],
svg path[data-name="Path 581"],
svg path[data-name="Line 30"],
svg path[data-name="Line 29"]{
	opacity: 0;
	animation: fadeIn 3s 100ms ease-out forwards;
}

/* Animate filler text */
svg path[data-name="Rectangle 240"]{
	opacity: 0;
	animation: fadeIn 1.2s ease-out forwards;
}
svg path[data-name="Rectangle 239"]{
	opacity: 0;
	animation: fadeIn 1.2s 100ms ease-out forwards;
}
svg path[data-name="Rectangle 241"]{
	opacity: 0;
	animation: fadeIn 1.2s 200ms ease-out forwards;
}
svg path[data-name="Rectangle 242"]{
	opacity: 0;
	animation: fadeIn 1.2s 300ms ease-out forwards;
}
svg path[data-name="Rectangle 243"]{
	opacity: 0;
	animation: fadeIn 1.2s 400ms ease-out forwards;
}
svg path[data-name="Rectangle 244"]{
	opacity: 0;
	animation: fadeIn 1.2s 500ms ease-out forwards;
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fadeOut{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}