section.cta{
	background: var(--lightBlue);
}
section.cta .content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
section.cta h1{
	font-size: 2.4rem;
}
section.cta p{
	font-size: 1.3rem;
	font-weight: 500;

	margin-bottom: 4rem;
	width: 450px;
	max-width: 100%;
}