/* Header */
header{
	box-sizing: border-box;
	width:100%;
	padding: 1rem 0;
}
header .wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: var(--contentWidth);
	margin: auto;
}
header .logo{
	height: 24px;	
}
header .logo img{
	max-height: 100%;
}
header nav{
	display: flex;
	align-items: center;
}
header nav a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
	color: var(--textAlt);
	text-decoration: none;
	font-weight: bold;
	margin: 0 1.2em;

	line-height: 10px;
}
header nav .button{
	font-size: .9rem;
	font-weight: normal;
	padding: 1rem .5rem;

	display: block;
	margin-left: 50px;
	line-height: 0;
}
header nav .button::after{
	display: none;
}
header nav .button:hover::after{
	width: 0;
	display: none;
}
header nav a:first-child{
	margin-left: 0;
}
header nav a:last-child{
	margin-right: 0;
}
header nav a::after{
	display: inline-block;
	content: "";
	height: 3px;
	width: 0;
	background: var(--primary);
	transform: translateY(8px);

	transition:
		width 100ms ease-out;
}
header nav a.active:after,
header nav a:hover::after,
header nav a:active::after,
header nav a:focus::after{
	width: 100%;
}
header .hamburger{
	display: none;
	cursor: pointer;
}
header .hamburger img, 
header .hamburger span{
	display: block;
	text-align:center;
}
header .hamburger img{
	width: 36px;
	height: 36px;
}

@media only screen and (max-width: 880px){
	header .hamburger{
		display: block;
	}
	header nav{
		display: none;
	}
}