.more-info{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: var(--contentWidth);
	max-width: 100%;
	margin: 6rem auto 12rem;
}
.info{
	width: 500px;
	max-width: 100%;
}
.info h2{
	color: var(--primary);
}
.info p{
	font-size: 1.2rem;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
}
.info:nth-child(even){
	text-align: right;
}