.more-info{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: var(--contentWidth);
	max-width: 100%;
	margin: 6rem auto 12rem;
}
.info{
	width: 500px;
	max-width: 100%;
}
.info h2{
	color: var(--primary);
}
.info p{
	font-size: 1.3rem;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1300px){
	.more-info{
		box-sizing: border-box;
		padding: 0 2rem;
	}
}

@media only screen and (max-width: 1150px){
	.more-info{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.info{
		text-align: center;
		margin-bottom: 3rem;
	}
	.info:nth-child(even){
		text-align: center;
	}
	.info h2{
		font-size: 1.8rem;
	}
	.info p{
		font-size: 1rem;
	}
}