/* Default */
.text-field{
	position: relative;
	height: auto;

	cursor: text;
}
.text-field label{
	box-sizing: border-box;
	position: absolute;
	transform: translate(.5rem, 1.2rem);
	padding: 0 .5rem;
	cursor: text;

	transform-origin: left;

	transition: transform 100ms ease-out;
}
.text-field input,
.text-field textarea{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-size: 1rem;
	padding: 1rem;
	border: 1px solid var(--lightRed);
	border-radius: 4px;

	transition: border-color 100ms ease-out;
}
.text-field input{
	height: 56px;
}
.text-field textarea{
	height: 120px;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
}
.text-field.textarea{
	min-height: 100px;
}
.text-field .error-text{
	opacity: 0;
	padding: 0 1rem;
	font-size: .9rem;
	color: var(--primary);
}
.text-field .helper-text{
	display: block;
	padding: 0 1rem;
	font-size: .9rem;
	height: auto;
}

/* Focused */
.text-field.focused label{
	transform: translate(.5rem, -50%) scale(.75);
	background: #fff;
}
.text-field.focused input,
.text-field.focused textarea{
	border-color: var(--primary);
}

.text-field.error .error-text{
	animation: fadeIn 100ms ease forwards;
}
.text-field.error .helper-text{
	display: none;
}