.project{
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	margin: 0 1rem 1rem;
	max-width: 350px;

	box-shadow: 0 4px 4px rgba(0,0,0,.3);
}
.project a{
	color: var(--textPrimary);
	text-decoration: none;
}
.project .image{
	width: 100%;
	height: 200px;
	border-bottom: 1px solid var(--primary);
}
.project .body{
	justify-self: flex-start;
	padding: 1rem .5rem;
}
.project .body .title{
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--textAlt)
}
.project .body p{
	margin: 5px 0 40px;
	padding: 0;
}
.project .more{
	color: var(--textAlt2);
	font-weight: bold;
}
.project .tech-label{
	text-transform: uppercase;
	font-size: .7rem;
	padding: 0 .5rem;
}
.project .techs{
	display: flex;
	align-items: center;
	padding: 6px .5rem;
}
.project .tech{
	display: block;
	margin: 0 5px;
	max-width: 70px;
}
.project .tech-logo{
	width: 24px;
}
.project .flex{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}