.status{
	box-sizing: border-box;
	border: none;
	padding: 1rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	transition: opacity 300ms 100ms ease-out;
}
.status.hidden{
	opacity: 0;
	z-index: -1;
	display: none;
}

.status .illustration{
	max-width: 50% !important;
	display: block !important;
	margin: 0 !important;
}
.status .message{
	font-size: 1.2rem !important;
	max-width: 400px;
	width: 100%;
	padding: 1rem;
	margin-top: 2rem;
	text-align: center;

	background: #fff;
}